<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.microdegree.com.app.exp">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:name="org.microdegree.com.app.exp.Qme5BizApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Chanel Choice"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        >

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713

         Real :: ca-app-pub-6120582676264206~4312328456
         -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6120582676264206~4312328456"/>


        <activity
            android:name="org.microdegree.com.app.exp.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.microdegree.com.app.exp.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppThemeNoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <activity
            android:name="org.microdegree.com.app.exp.IntroActivity"
            android:theme="@style/AppThemeNoActionBar" />

        <activity android:name="org.microdegree.com.app.exp.BizEntryActivity"
            android:theme="@style/AppThemeNoActionBar"

            />

    </application>

</manifest>